extends layout

block content
    .container
    h1= title
    p An Oasis of Learning and Literacy
    br
    if(user)
        
        h3 My Books Collection
        if books
            ul.text-capitalize
                for book in books
                    li= book.booktitle
                        ul= book.authorname
        .page-header
        p.lead Add a Book to your collection
        form(role='form',method="POST", style='max-width: 300px;')
            .form-group
                label(for= 'booktitle') Book Title
                input.form-control(type='text', name="booktitle", placeholder='Enter Book Title', autofocus)
            .form-group
                label(for= 'authorname') Name of Author
                input.form-control(type='text', name="authorname", placeholder='Enter Name of Author', autofocus)
            .form-group
                label(for= 'isbn') ISBN
                input.form-control(type='text', name="isbn", placeholder='Enter ISBN', autofocus)
            button.btn.btn-primary(type='submit') Add Book
      
    if(!user)
        br
        p.lead You are not authorized to view this page. 
        br
        a(href='/login') Login
        br
        a(href='/register') Register