extends layout

block content
	h1= title
	p An Oasis of Learning and Literacy
	br
	if(!user)
		a(href='/login') Login
		br
		a(href='/register') Register
	if(user)
		p You are currently logged in as #{user.username}
		a(href='/homepage') Go to Home Page
		br
		a(href='/logout') Logout
